<!DOCTYPE html>
<html class="x-admin-sm"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <header th:replace="header::html"></header>
    <title>后台管理 | 钟表维修开单小程序</title>
</head>
<body>
<div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">用户管理</a>
            <a><cite>用户列表</cite></a>
        </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新"><i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <!--表格表头-->
                <div class="layui-card-header">
                    <button class="layui-btn"
                            th:attr="onclick='openPage(\'添加用户\',\'/admin/getPage?path=user-add\',455,380)'">
                        <i class="layui-icon layui-icon-add-circle-fine"></i>添加
                    </button>
                    <button class="layui-btn layui-btn-danger" id="delSome"><i class="layui-icon layui-icon-delete"></i>批量删除
                    </button>
                </div>
                <!--表格内容-->
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-hide" id="user-list" lay-filter="user-list"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- layui元素事件监听初始化 -->
<script>
    layui.use('element', function () {
        var element = layui.element;
        element.init()
    });
</script>
<!-- layui表格渲染模板 -->
<script type="text/html" id="status">
    {{# if(d.status == 1){ }}
    <input type="checkbox" name="zzz" userId="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="switchTest"
           lay-event="status" checked="checked">
    {{# } else{ }}
    <input type="checkbox" name="zzz" userId="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="switchTest">
    {{# } }}
</script>
<!-- layui表格渲染模板 -->
<script type="text/html" id="operation">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    // 打开新的tab页方法
    function openPage(name, url, width, height) {
        console.log('xadmin...addTab....', name, url);
        url += '&access_token=' + userInfoUtils.getAccessToken();
        xadmin.open(name, url, width, height);
    }

    layui.use(['form', 'table', 'jquery', 'layer'], function () {
        var form = layui.form;
        var table = layui.table;
        var $ = layui.jquery;
        var layer = layui.layer;
        // 渲染表格
        table.render({
            elem: '#user-list'
            , url: '/api/user/list?access_token=' + userInfoUtils.getAccessToken()
            , title: '用户数据表'
            , method: 'GET'
            // ,where: ''
            , page: true
            , request: {
                limitName: 'size' //每页数据量的参数名，默认：limit
            }
            , response: {
                statusCode: 200
            }
            // 表格的自定义模板渲染
            // 方式一：绑定模版选择器
            // 方式二：函数转义
            // 方式三：直接赋值模版字符
            , cols: [[
                {fixed: 'left', type: 'checkbox', width: 80}
                ,{field: 'username', title: '用户名', align: 'center', width: 210}
                // 方式二：函数转义
                ,{field: 'sex', title: '角色', align: 'center', width: 80, templet: function (item) {
                    if (!item.roles) {
                        return "普通用户";
                    }
                    var authSort = [1, 4, 2, 3];
                    for (var authIndex in authSort) {
                        for (var roleIndex in item.roles) {
                            if (authSort[authIndex] == item.roles[roleIndex].id) {
                                return item.roles[roleIndex].description;
                            }
                        }
                    }
                }}
                ,{field: 'sex', title: '性别', align: 'center', width: 80, templet: function (item) {
                    return item.sex == 1 ? "男" : "女";
                }}
                ,{field: 'phone', title: '手机号码', align: 'center'}
                ,{field: 'registration', title: '注册日期', align: 'center',
                // 方式三：直接赋值模版字符
                    templet: "<div>{{layui.util.toDateString(d.registrationDatetime, 'yyyy-MM-dd HH:mm:ss')}}</div>" }
                // 方式一：绑定模版选择器
                ,{field: 'status', title: '状态', templet: '#status', unresize: true, align: 'center'}
                ,{field: 'right', title: '操作', toolbar: '#operation', align: 'center', width: 210}
                ]
            ]
        });

        // 用户状态转换
        form.on('switch(switchTest)', function (data) {
            var userId = data.elem.attributes['userId'].nodeValue;
            $.ajax({
                url: '/api/user/' + userId + '/status?access_token=' + userInfoUtils.getAccessToken(),
                type: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    if (data.code == 200) {
                        layer.msg("操作成功", {icon: 1});
                    }
                    else {
                        layer.msg("操作失败", {icon: 2});
                    }
                }
            });
        });

        // 单个用户操作
        table.on('tool(user-list)', function (obj) {
            var data = obj.data;
            // 删除事件
            if (obj.event === 'del') {
                layer.confirm('确定删除该数据吗？', function (index) {
                    $.ajax({
                        url: '/api/user/' + data.id + '?access_token=' + userInfoUtils.getAccessToken(),
                        type: 'DELETE',
                        dataType: 'JSON',
                        success: function (data) {
                            if (data.code == 200) {
                                obj.del();
                                layer.close(index);
                                layer.msg("删除成功", {icon: 1, time: 1000});
                                layui.table.reload('user-list');
                            }
                            else {
                                layer.msg("删除失败", {icon: 2, time: 1000});
                            }
                        }
                    });
                });
                // 编辑事件
            } else if (obj.event === 'edit') {
                var roles = data.roles || [];
                layer.open({
                    type: 2
                    , fix: false
                    , maxmin: true
                    , shadeClose: true
                    , shade: 0.4
                    , title: '编辑用户'
                    , area: ['455px', '265px']
                    , content: '/admin/getPage?path=user-edit&access_token=' + userInfoUtils.getAccessToken()
                    , success: function (layero, index) {
                        // 设置子窗口的默认值
                        var body = layer.getChildFrame('body', index);
                        body.find("#userid").val(data.id);
                        body.find("#username").val(data.username);
                        body.find("#userphone").val(data.phone);
                        body.find(".role").each(function (i, e) {
                            for (var roleIndex in roles) {
                                if (roles[roleIndex].id == $(e).val()) {
                                    $(e).prop("checked", true);
                                    break;
                                }
                            }
                        });
                        layero.find('iframe')[0].contentWindow.layui.form.render('checkbox')
                        body.find("#userroles").val(roles);
                        body.find("#username").val(data.username);
                        body.find("#userphone").val(data.phone);
                    }
                });
                form.render();
            }
        });
        // 批量删除
        $(document).on('click', '#delSome', function () {
            var checkStatus = table.checkStatus('user-list');
            if (checkStatus.data.length == 0) {
                layer.msg('请选择要删除的用户', {icon: 2});
                return;
            }
            layer.confirm('确定删除选中数据吗？', function (index) {
                var ids = [];
                for (var i = 0; i < checkStatus.data.length; i++) {
                    ids.push(checkStatus.data[i].id)
                }
                $.ajax({
                    url: '/api/user/list?access_token=' + userInfoUtils.getAccessToken(),
                    type: 'DELETE',
                    data: {ids: ids},
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.code == 200) {
                            layer.close(index);
                            layer.msg("删除成功", {icon: 1, time: 1000});
                            layui.table.reload('user-list');
                        }
                        else {
                            layer.msg("删除失败", {icon: 2, time: 1000});
                        }
                    }
                });
            });
        });
    });
</script>

</body>
</html>